<form id="dotit-update-product_highlightings" class="dotit-update-product_highlightings" action="{{ path('dotit_sylius_highlighting_plugin_admin_product_highlighting_update_position') }}" method="post">
    <input type="hidden" name="_method" value="PUT" />
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('update-product_highlighting-position') }}" />
    <button class="ui labeled loadable icon button sylius-save-position" type="submit">
        <i class="icon checkmark"></i>
        {{ 'sylius.ui.save_positions'|trans }}
    </button>
</form>
